<?php $products = $this->getProductList();?>
<div class="page-title">
    <h1><?php echo $this->__('My Products') ?></h1>
</div>
<div class="product_list">
	<?php //print_r($products->getData());?>
	<table>
		<thead>
			<th>Sr No.</th>
			<th>Product</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<?php $i=0;foreach($products as $data):?>
			<?php $product_detail = $this->getDetails($data->getEntityId());//print_r($product_detail->getData());?>	
				<tr>
					<td><?php echo ++$i;?></td>
					<td>
						<div class="prod-image">
						<a href="<?php echo Mage::getUrl($data->getUrlPath());?>">
							<!-- <img width="150px" height="120px" src="<?php echo Mage::getBaseUrl('media').'catalog/product'.$data->getSmallImage();?>"> -->
							<img src="<?php echo $this->helper('catalog/image')->init($data, 'small_image')->resize($list_image_width, $list_image_height); ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($data, 'small_image'), null, true) ?>" />
					    </a>
					    </div>
					    <a href="<?php echo Mage::getUrl($data->getUrlPath());?>">
					    	<h3><?php echo $data->getName();?></h3>
					    </a>
					    <?php $currency_symbol = Mage::app()->getLocale()->currency( $currency_code )->getSymbol();?>
					    <p><?php echo $currency_symbol.' '.$data->getPrice();?></p>
					    <p><?php echo $data->getShortDescription();?></p>	
					</td>
					<?php $stock = $data->getStockItem();?>
					<td>
						<?php if($stock->getIsInStock()):?>
						<button type="button" id="sold_product" class="button" onclick="sellproduct(<?php echo $data->getEntityId()?>)"><span><span><?php echo $this->__('Sold');?></span></span></button>
						<?php else:?>
						<label class="status">Status: </label><span><?php echo $this->__("Sold");?></span>	
						<?php endif;?>	
						<button type="button" id="delete_product" class="button" onclick="deleteprod(<?php echo $data->getEntityId()?>)"><span><span><?php echo $this->__('Delete');?></span></span></button>
					</td>
				</tr>
			<?php endforeach;?>
		<tbody>	
	</table>
</div>
<script>
	function sellproduct(id)
     {
     	jQuery.ajax({
     		url : "<?php echo Mage::getUrl('product/manage/setSold');?>",
     		type : "POST",
     		data : {prod_id : id},
     		success : function(data){
     			alert(data);
     			location.reload(true);
     		}
     	})
     }
     
     function deleteprod(id)
     {
     	jQuery.ajax({
     		url : "<?php echo Mage::getUrl('product/manage/setDelete');?>",
     		type : "POST",
     		data : {prod_id : id},
     		success : function(data){
     			alert(data);
     			location.reload(true);
     		}
     	})
     }
</script>