<?php 
//exit("Reached");
//$attrPayment = $this->getAttribute('payment');
//$attrCondition = $this->getAttribute('condition');
//$attrState = $this->getAttribute('state');
$catData = $this->getCategory(3);
//$products = $this->getProductList();
?>
<div class="page-title">
    <h1><?php echo $this->__('Add Products') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="add-product">
 <button type="button" title="<?php echo $this->__('Add Product') ?>" class="button" onclick="showdiv('add-product');"><span><span><?php echo $this->__('Add Product') ?></span></span></button>
</div>
<br/>

 <div class="add-product" id="add-product" style="display: none;">
 <form name="add-product" action="<?php echo $this->getUrl('product/manage/saveproduct') ?>" id="form-validate" method="post" enctype="multipart/form-data">
    <div class="fieldset">
        <h2 class="legend block-title" id="generaltitle">General</h2>
        <ul class="form-list" style="display: block;" id="generaldiv">
            <li class="fields">
                <div class="field parent_category">
                    <label for="parent_category" class="required"><em>*</em>Select Category</label>
                    <div class="input-box">
                        <select name="product[parent_category]" id="parent_category" class="required-entry form-control" onchange="selectChild(this.value);">
                            <option value="">-Select-</option>
                            <?php foreach ($catData as $key => $value) {
                               echo "<option value='".$value['id']."'>".$value['name']."</option>";
                            } ?>
                        </select>
                    </div>
                </div>
                <div class="field sub_category" style="display:none;">
                    <label for="sub_category" class="required"><em>*</em>Select Sub Category</label>
                    <div class="input-box">
                        <select name="product[sub_category]" id="sub_category" class="form-control">
                            <option value="">-Select-</option>
                        </select>
                    </div>
                </div>
            </li>                        
            <li class="fields">
                <div class="field product_name">
                    <label for="product_name" class="required"><em>*</em>Product Name</label>
                    <div class="input-box">
                        <input type="text" id="product_name" name="product[name]" value="" title="Product Name" maxlength="255" class="input-text required-entry  form-control">
                    </div>
                </div>
            </li>
            <li class="fields">    
                <div class="field product_sku">
                    <label for="product_sku" class="required"><em>*</em>SKU</label>
                    <div class="input-box">
                       <input type="text" id="product_sku" name="product[sku]" value="" title="SKU" maxlength="255" class="input-text required-entry  form-control">
                    </div>
                </div> 
            </li>            
            <li class="fields">    
                <div class="field product_description">
                    <label for="product_description" class="required"><em>*</em>Description</label>
                    <div class="input-box">
                        <textarea id="product_description" name="product[description]" class="input-text required-entry  form-control"></textarea>
                    </div>
                </div>
            </li>
            <li class="fields">   
                <div class="field product_short_description">
                    <label for="product_short_description" class="required"><em>*</em>Short description</label>
                    <div class="input-box">
                       <textarea id="product_short_description" name="product[short_description]" class="input-text required-entry  form-control"></textarea>
                    </div>
                </div>                
            </li>


			
            <li class="fields">    
                <div class="field product_weight">
                    <label for="product_weight" class="required"><em>*</em>Weight</label>
                    <div class="input-box">
                       <input type="text" id="product_weight" name="product[weight]" value="" title="Weight" maxlength="255" class="input-text required-entry  form-control">
                    </div>
                </div> 
            </li>
	    
            <li class="fields">   
                <div class="field status">
                    <label for="status" class="required"><em>*</em>Status</label>
                    <div class="input-box">
                        <select name="product[status]" id="status" class="required-entry form-control">
                            <option value="1">Enabled</option>
                            <option value="2">Disabled</option>
                        </select>
                    </div>
                </div>                  
            </li>
	    <li class="fields">    
                <div class="field product_image">
                    <label for="product_image" class="required"><em>*</em>Product Image</label>
                    <div class="input-box">
                       <input type="file" id="file1" name="photo[]" value="" title="Image"  class="input-text form-control">
                    </div>
                </div> 
            </li>
	    <li class="fields">    
                <div class="field product_image">
                    <label for="product_image" class="required">Product Image</label>
                    <div class="input-box">
                       <input type="file" id="file2" name="photo[]" value="" title="Image"  class="input-text form-control">
                    </div>
                </div> 
            </li>
	    <li class="fields">    
                <div class="field product_image">
                    <label for="product_image" class="required">Product Image</label>
                    <div class="input-box">
                       <input type="file" id="file3" name="photo[]" value="" title="Image"  class="input-text form-control">
                    </div>
                </div> 
            </li>
        </ul>
    </div>
    <div class="fieldset">
        <h2 class="legend block-title" id="pricetitle">Prices</h2>
        <ul class="form-list" style="display: block;" id="pricediv">
            <li class="fields">
                <div class="product-name">
                    <div class="field price">
                        <label for="price" class="required"><em>*</em>Price</label>
                        <div class="input-box">
                            <input type="text" id="price" name="product[price]" value="" title="Prices" maxlength="255" class="input-text required-entry  form-control">
                        </div>
                    </div>                 
                </div>
            </li>
        </ul>
    </div>
    <p>
      <button class="button" id="showcaseformsavebutton" type="submit" title="Save"><span><span>Save</span></span></button>
    </p>
 </form>
 </div>
<script type="text/javascript">
//<![CDATA[
     
    
    function showdiv (divname) {
        jQuery('#'+divname).slideToggle();
    }
    var dataForm = new VarienForm('form-validate', true);
    function selectChild (catId) {
        var url = '<?= $this->getBaseUrl() ?>product/manage/getChildCategories';
        jQuery.post(url,{categoryId : catId},function(result){  
            jQuery("#sub_category").html('');
            jQuery("#sub_category").append(jQuery('<option></option>').val('').html('-Select-'));
            var retResult = jQuery.parseJSON(result);
            jQuery(".sub_category").show();        
            jQuery.each(retResult,function(key, value)
            {
                jQuery("#sub_category").append(jQuery('<option></option>').val(value.catid).html(value.catname));
            });            
        });        
    }
//]]>
</script>
